RewriteEngine on

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1 [QSA]

RewriteCond %{REQUEST_URI} (.jpg|.jpeg|.png|.gif|.bmp)$ [NC]
RewriteRule !^medias https://www.domain1.com/ [R=302,L]